<tr>
  <td><%=: comment.time | time %></td>
  <td><%= comment.comment %></td>
  <td><a href="/stop/<%= comment.stop %>/comment/<%= comment.cid %>/moderate/up?token=">+</a> / <a href="/stop/<%= comment.stop %>/comment/<%= comment.cid %>/moderate/down?token=">-</a> | <a href="/stop/<%= comment.stop %>/comment/<%= comment.cid %>/moderate/report?token=">report</a></td>
</tr>
