<header>
  <a id="logo" class="home-link" href="/"></a>
</header>

<div id="admin">
  <h1>Moderate</h1>
  <div id="admin-map"></div>
  <table>
    <thead>
      <tr>
        <td class="time">Time</td>
        <td class="comment">Comment</td>
        <td class="stop">Stop</td>
        <td class="actions">Actions</td>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < comments.length; i++) { %>
      <tr id="comment-<%= comments[i].cid %>" class="comment">
        <td class="time" data-time="<%= comments[i].time %>"><%=: comments[i].time | time %></td>
        <td class="comment">
            <%= comments[i].comment %>
            <% if (typeof comments[i].type !== 'undefined') { %>
              <% for(var j = 0; j < comments[i].type.length; j++) { %>
                <div class="icon <%= comments[i].type[j] %>"></div>
              <% } %>
            <% } %>
            <% if (comments[i].nickname !== null) { %>
              <br />&ndash;<%= comments[i].nickname %>
            <% } %>
        </td>
        <td class="stop">
          <a href="/stop/<%= comments[i].stop.stop_code %>#comment-<%= comments[i].cid %>"><%= comments[i].stop.stop_code %></a>
        </td>
        <td class="actions">
          <% if (comments[i].hidden !== 'hide') { %>
            <a href="/admin/moderate/<%= comments[i].stop.stop_code %>/comment/<%= comments[i].cid %>/flag/hide">hide</a>
          <% } else { %>
          <a href="/admin/moderate/<%= comments[i].stop.stop_code %>/comment/<%= comments[i].cid %>/flag/unhide">unhide</a>
          <% } %>
          <!--<a href="/admin/moderate/<%= comments[i].stop.stop_code %>/comment/<%= comments[i].cid %>/flag/block" class="block">block</a>-->
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/modestmaps.min.js"></script>
<script src="/modestmaps.markers.js"></script>
<script src="/ejs.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script id="comment-template" type="text/template">
<tr id="comment-{{= comment.cid }}" class="comment new">
  <td class="time" data-time="{{= comment.time }}">{{=: comment.time | time }}</td>
  <td class="comment">
      {{= comment.comment }}
      {{ if (typeof comment.type !== 'undefined') { }}
        {{ for(var j = 0; j < comment.type.length; j++) { }}
          <div class="icon {{= comment.type[j] }}"></div>
        {{ } }}
      {{ } }}
      {{ if (comment.nickname !== null) { }}
        <br />&ndash;{{= comment.nickname }}
      {{ } }}
  </td>
  <td class="stop">
    <a href="/stop/{{= comment.stop.stop_code }}#comment-{{= comment.cid }}">{{= comment.stop.stop_code }}</a>
  </td>
  <td class="actions">
    {{ if (comment.hidden !== 'hide') { }}
      <a href="/admin/moderate/{{= comment.stop.stop_code }}/comment/{{= comment.cid }}/flag/hide">hide</a>
    {{ } else { }}
      <a href="/admin/moderate/{{= comment.stop.stop_code }}/comment/{{= comment.cid }}/flag/unhide">unhide</a>
    {{ } }}
    <!--<a href="/admin/moderate/{{= comment.stop.stop_code }}/comment/{{= comment.cid }}/flag/block" class="block">block</a>-->
  </td>
</tr>
</script>
<script>
  var recentMarkers = <%- recentMarkers %>;
  //var provider = new MM.TemplatedMapProvider('http://c.tiles.mapbox.com/v3/mapbox.mapbox-light/{Z}/{X}/{Y}.png');
  var provider = new MM.TemplatedMapProvider('http://b.tiles.mapbox.com/v3/examples.map-vyofok3q/{Z}/{X}/{Y}.png');
  //var provider = new MM.TemplatedMapProvider('http://a.tile.stamen.com/toner/{Z}/{X}/{Y}.png');
  //var provider = new MM.TemplatedMapProvider('http://a.tile.stamen.com/terrain/{Z}/{X}/{Y}.png');
  var map = new MM.Map('admin-map', provider, new MM.Point(500, 250));
  map.setCenterZoom(new MM.Location(49.18608,-122.91170), 9);
  map.setZoomRange(8, 17);

  markers = new MM.MarkerLayer();
  map.addLayer(markers);

  $.each(recentMarkers, function(i, marker) {
    var el = $('<div class="marker"><div class="point"></div></div>');
    markers.addMarker(el[0], new MM.Location(marker.stop_lat, marker.stop_lon));
  });

  window.setInterval(function() {
    $('table .time').each(function(index) {
      $(this).html(prettyDate($(this).attr('data-time')));
    });
  }, 15000);

  /*
   * Based on John Resig's Pretty Date: http://ejohn.org/blog/javascript-pretty-date/
   * Licensed under the MIT and GPL licenses.
   *
   * Takes an ISO time and returns a string representing how
   * long ago the date represents.
   */
  function prettyDate(time) {
    var date = new Date(time),
        diff = (((new Date()).getTime() - date.getTime()) / 1000),
        day_diff = Math.floor(diff / 86400);

    if ( isNaN(day_diff) || day_diff < 0 || day_diff >= 31 )
      return;

    return day_diff == 0 && (
        diff < 60 && "Just now" ||
        diff < 120 && "1 minute ago" ||
        diff < 3600 && Math.floor( diff / 60 ) + " minutes ago" ||
        diff < 7200 && "1 hour ago" ||
        diff < 86400 && Math.floor( diff / 3600 ) + " hours ago") ||
      day_diff == 1 && "Yesterday" ||
      day_diff < 7 && day_diff + " days ago" ||
      day_diff < 31 && Math.ceil( day_diff / 7 ) + " weeks ago";
  };

  var ejs = require('ejs');
  ejs.open = '{{';
  ejs.close = '}}';
  ejs.filters.time = function(milliseconds) {
    return prettyDate(milliseconds);
  };
  var commentTemplate = ejs.compile($('#comment-template').html());

  var socket = io.connect();
  socket.on('comment', function (data) {
    var comment = data.comment;
    var marker = $('<div class="marker"><div class="point"></div><div class="pulse"></div></div>'); // and bind to newComment as well.
    var newComment = $(commentTemplate({ comment: comment, new_comment: true })).hide().hover(function() {
      marker.addClass('hover');
    }, function() {
      marker.removeClass('hover');
    });
    newComment.find('.actions a').click(actionsHandler);
    markers.addMarker(marker[0], new MM.Location(comment.stop.stop_lat, comment.stop.stop_lon));
    $('#admin table tbody').prepend(newComment);
    newComment.slideDown();
  });

  var actionsHandler = function(evt) {
    var el = $(this);
    // If report button, show confirmation step.
    if (!el.hasClass('block') || confirm('This will hide all posts from this IP address, ok?')) {
      $.get(el.attr('href'), function(data) {
        var newComment = $(commentTemplate({ comment: data.comment, new_comment: true }))
        $('.actions a', newComment).click(actionsHandler);
        el.parents('.comment').replaceWith(newComment);
      });
    }
    return false;
  }
  $('.comment .actions a').click(actionsHandler);
  </script>
