<header>
  <a id="logo" href="/"></a>
  <div id="stop_id"><%= stop.id %></div>
  <form id="stop_form" class="hide" method="post" action="/">
  	<input name="stop" id="stop" type="text" pattern="[0-9]*" maxlength="5" />
  	<input class="btn inline" type="submit" value="Go" />
  </form>
</header>

<div id="third-party">
  <div id="google" class="action">
    <a target="_blank" href="http://maps.google.com/maps?ll=<%= stop.stop_lat %>,<%= stop.stop_lon %>"><div class="one">Open in</div><div class="two">Google</div><div class="three">Maps</div></a>
  </div>
  <div id="translink" class="action">
    <a target="_blank" href="http://nb.translink.ca/Map/Stop/<%= stop.id %>"><div class="one">Open in</div><div class="two">TransLink</div><div class="three">Mobile</div></a>
  </div>
</div>

<div id="map">
  <div id="map-overlay"></div>
  <div id="marker" class="active"></div>
  <img width="320" height="200" src="http://maps.googleapis.com/maps/api/staticmap?center=<%= stop.stop_lat %>,<%= stop.stop_lon %>&amp;zoom=15&amp;size=320x200&amp;maptype=&amp;sensor=false&amp;scale=2" />
  <div class="notch"></div>
</div>

<div id="stop-info">
  <div class="stop_desc"><%- stop.stop_desc %></div>
  <div class="trips">
    <% for(var i = 0; i < stop.trip.length; i++) { %>
    <div class="trip<%= stop.trip[i].night %>"><span class="short"><%= stop.trip[i].route_short_name %></span><span class="long"><%= stop.trip[i].route_long_name %></span></div>
    <% } %>
  </div>
</div>

<div id="comment-header"><span class="minor">Talk About</span> This Stop</div>
<div id="stop-talk">
  <div class="notch"></div>
  <form id="new-comment" method="post" action="/stop/<%= stop.id %>">
    <div id="comment-info">
      <div id="comment-text">
        <textarea id="text" name="comment">Write something...</textarea>
        <div id="count">200</div>
      </div>
      <div id="identity"></div>
    </div>
    <div id="categories">
      <div class="category" id="weather"><div class="icon"></div><label>Weather</label></div>
      <div class="category" id="look_for"><div class="icon"></div><label>Point of Interest</label></div>
      <div class="category" id="suggestion"><div class="icon"></div><label>Suggest</label></div>
      <div class="category last" id="just_sayin"><div class="icon"></div><label>Just Saying</label></div>
      <input class="checkboxes" type="checkbox" name="type[weather]" value="weather" />
      <input class="checkboxes" type="checkbox" name="type[suggestion]" value="suggestion" />
      <input class="checkboxes" type="checkbox" name="type[look_for]" value="look_for" />
      <input class="checkboxes" type="checkbox" name="type[just_sayin]" value="just_sayin" />
    </div>
    <input class="btn" type="submit" value="Post" />
  </form>

  <div id="comments">
<%- partial('comment', comments) %>
  </div>
</div>

<% if (comments.length > 0) { %>
<footer>
  <a class="btn" href="#new-comment">Talk About This Stop</a>
  <a id="another-stop" class="btn blue" href="#stop">Find Another Stop</a>
</footer>
<% } else { %>
<div id="no-comments">Pretty quiet in here... say something!</div>
<footer>
  <a id="another-stop" class="btn blue" href="#stop">Find Another Stop</a>
</footer>
<% } %>

<script id="comment-template" type="text/template">
<%- comment_template %>
</script>

<script src="/third-party.js"></script>
<script type="text/javascript">
var tios = tios || {};
tios.stop_id = '<%= stop.id %>';
tios.stop_desc = '<%- stop.stop_desc %>';
</script>
<script src="/scripts.js"></script>
