<header>
  <a href="/"><img width="134" height"81" id="logo" src="/logo.png" /></a>
  <div id="stop_id"><%= stop.id %></div>
  <form id="stop_form" class="hide" method="post" action="/">
  	<input name="stop" id="stop" type="text" pattern="[0-9]*" value="" />
  	<input class="btn" type="submit" value="Go" />
  </form>
</header>

<div class="map">
  <div class="notch top"></div>
  <img id="map" width="320" height="200" src="http://maps.googleapis.com/maps/api/staticmap?center=<%= stop.stop_lat %>,<%= stop.stop_lon %>&amp;zoom=15&amp;size=320x200&amp;maptype=&amp;sensor=false&amp;scale=2" />
  <div class="notch bottom"></div>
</div>

<div id="stop-info">
  <div class="stop_desc"><%- stop.stop_desc %></div>
  <div class="trips">
    <% for(var i = 0; i < stop.trip.length; i++) { %>
    <div class="trip<%= stop.trip[i].night %>"><span class="short"><%= stop.trip[i].route_short_name %></span><span class="long"><%= stop.trip[i].route_long_name %></span></div>
    <% } %>
  </div>
  <!--<a class="button" href="http://maps.google.com/maps?ll=<%= stop.stop_lat %>,<%= stop.stop_lon %>">Open in Maps</a>
  <a class="button" href="http://nb.translink.ca/Map/Stop/<%= stop.id %>">Open in TransLink Mobile</a>-->
</div>

<div id="stop-talk">
  <form id="new-comment" method="post" action="/stop/<%= stop.id %>">
    <div class="categories">
      <div class="category" id="weather"><div class="icon"></div><label>Weather</label></div>
      <div class="category" id="look_for"><div class="icon"></div><label>Look For</label></div>
      <div class="category" id="suggestion"><div class="icon"></div><label>Suggestion</label></div>
      <div class="category last" id="just_sayin"><div class="icon"></div><label>Just Sayin'</label></div>
    </div>

    <input class="checkboxes" type="checkbox" name="type[weather]" value="weather" />
    <input class="checkboxes" type="checkbox" name="type[suggestion]" value="suggestion" />
    <input class="checkboxes" type="checkbox" name="type[look_for]" value="look_for" />
    <input class="checkboxes" type="checkbox" name="type[just_sayin]" value="just_sayin" />

    <div id="post-body">
      <div id="post-header"><span class="minor">Talk About</span> This Stop</div>
      <div id="count">200</div>
      <textarea id="text" name="comment"></textarea>
      <div id="identity">
      </div>

      <div class="actions">
        <input class="btn primary" type="submit" value="Post It" />
      </div>
    </div>
  </form>
  <div id="comments">
<%- partial('comment', comments) %>
  </div>

  <% if (comments.length > 0) { %>
  <a class="button" href="#new-comment">Talk About This Stop</a>
  <% } else { %>
  <div id="no-comments">Pretty quiet in here... say something!</div>
  <% } %>

  <a id="another-stop" class="button" href="#stop">Find Another Stop</a>

  <script id="comment-template" type="text/template">
<%- comment_template %>
  </script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script src="/jquery.cookie.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/ejs.min.js"></script>
  <script type="text/javascript">
  var tios = tios || {};
  tios.stop_id = '<%= stop.id %>';
  tios.stop_desc = '<%- stop.stop_desc %>';
  </script>
  <script src="/scripts.js"></script>
</div>
