<h2><%= stop.id %>: <%= stop.stop.stop_desc %></h2>

<%- partial('trip', stop.trip) %>

<h2>Comments</h2>

<%- partial('comment', comments) %>

<form method="post" action="/stop/<%= stop.id %>">
	<textarea name="comment"></textarea>
	<div>
		<input type="submit" />
	</div>
</form>