<header>
  <form method="post" action="/">
  	<input name="stop" id="stop" type="text" pattern="[0-9]*" value="<%= stop.id %>" />
  	<input type="submit" value="Go" />
  </form>
</header>

<ul class="tabs">
  <li id="info" class="active">Busses</li>
  <li id="talk">Recent Talk</li>
</ul>

<div id="stop-info">
  <h2>At This Stop</h2>

  <%- partial('trip', stop.trip) %>

  <p class="map">
    <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= stop.stop.stop_lat %>,<%= stop.stop.stop_lon %>&amp;zoom=15&amp;size=290x200&amp;maptype=&amp;markers=<%= stop.stop.stop_lat %>,<%= stop.stop.stop_lon %>&amp;sensor=false" />
  </p>

  <a class="button" href="http://maps.google.com/maps?ll=<%= stop.stop.stop_lat %>,<%= stop.stop.stop_lon %>">Open in Maps</a>
  <a class="button" href="http://nb.translink.ca/Map/Stop/<%= stop.id %>">Open in TransLink Mobile</a>
</div>

<div id="stop-talk">
  <a class="button" href="/stop/<%= stop.id %>/new">Post Something</a>

  <%- partial('comment', comments) %>

  <a class="button" href="/stop/<%= stop.id %>/new">Post Something</a>
</div>

<script type="text/javascript">
if (window.location.hash == '#talk') {
  $('#stop-info').hide();
}
else {
  $('#stop-talk').hide();
}
$('#info').click(function(e) {
  $('#stop-info').show();
  $('#stop-talk').hide();
  $('#info').addClass('active');
  $('#talk').removeClass('active');
  e.preventDefault();
});
$('#talk').click(function(e) {
  $('#stop-info').hide();
  $('#stop-talk').show();
  $('#info').removeClass('active');
  $('#talk').addClass('active');
  e.preventDefault();
});
</script>