<header>
  <form method="post" action="/">
  	<input name="stop" id="stop" type="text" pattern="[0-9]*" value="<%= stop.id %>" />
  	<input class="btn" type="submit" value="Go" />
  </form>
</header>

<div id="stop-info">

  <p class="trip"><%= stop.stop_desc %></p>

  <%- partial('trip', stop.trip) %>

  <p class="map">
    <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= stop.stop_lat %>,<%= stop.stop_lon %>&amp;zoom=15&amp;size=290x200&amp;maptype=&amp;markers=<%= stop.stop_lat %>,<%= stop.stop_lon %>&amp;sensor=false" />
  </p>

  <a class="button" href="http://maps.google.com/maps?ll=<%= stop.stop_lat %>,<%= stop.stop_lon %>">Open in Maps</a>
  <a class="button" href="http://nb.translink.ca/Map/Stop/<%= stop.id %>">Open in TransLink Mobile</a>
</div>

<div id="stop-talk">
  <h2>Recent Talk</h2>
  <a class="button" href="#post">Say Something</a>

  <%- partial('comment', comments) %>

  <a class="button" id="post" href="#post">Say Something</a>

  <form id="new-comment" method="post" action="/stop/<%= stop.id %>">
    <div id="form-inputs">
      <ul class="type">
        <li><label for="weather"><input id="weather" type="checkbox" name="type[weather]" /><span>Weather</span></label></li>
        <li><label for="suggestion"><input id="suggestion" type="checkbox" name="type[suggestion]" /><span>Suggestion</span></label></li>
        <li><label for="look-for"><input id="look-for" type="checkbox" name="type[look_for]" /><span>Look For</span></label></li>
        <li><label for="just-sayin"><input id="just-sayin" type="checkbox" name="type[just_sayin]" /><span>Just Sayin'</span></label></li>
      </ul>
      <div><label id="count" for="text">0/200</label></div>
      <textarea id="text" name="comment"></textarea>
    </div>
    <div class="actions">
      <input class="btn primary" type="submit" value="Post It" />
    </div>
    <p class="disclaimer">Abuse & spam are mercilessly deleted</p>
  </form>
  <a id="another-stop" class="button" href="#stop">Find Another Stop</a>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script type="text/javascript">
  $('textarea#text').keyup(function() {
    $('#count').html($(this).val().length + '/200');
  });
  $('#another-stop').click(function() {
    window.scrollTo(0,0);
    $('#stop').val('').focus();
    return false;
  })
  </script>
</div>
