<form method="post" action="/">
	<input name="stop" id="stop" type="text" pattern="[0-9]*" value="<%= stop.id %>" />
	<input type="submit" value="Go" />
</form>

<h2>At This Stop</h2>

<%- partial('trip', stop.trip) %>

<p>
  <a href="http://maps.google.com/maps?ll=<%= stop.stop.stop_lat %>,<%= stop.stop.stop_lon %>">
    <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= stop.stop.stop_lat %>,<%= stop.stop.stop_lon %>&amp;zoom=15&amp;size=290x200&amp;maptype=&amp;markers=<%= stop.stop.stop_lat %>,<%= stop.stop.stop_lon %>&amp;sensor=false" />
  </a>
</p>

<a href="http://maps.google.com/maps?ll=<%= stop.stop.stop_lat %>,<%= stop.stop.stop_lon %>">Open in Maps</a>
<a href="http://nb.translink.ca/Map/Stop/<%= stop.id %>">Open in TransLink Mobile"</a>

<h2>Recent Talk</h2>

<%- partial('comment', comments) %>

<form method="post" action="/stop/<%= stop.id %>">
	<textarea name="comment"></textarea>
	<div>
		<input type="submit" />
	</div>
</form>