<h2><%= stop.id %>: <%= stop.stop_desc %></h2>

<ul>
  <% for (var route in stop.trip) { %>
    <li><%= route %></li>
  <% } %>
</ul>

<h2>Comments</h2>

<% var length = comments.length;
	for (var i = 0; i < length; i++) { %>
		<div><%= comments[i].comment %></div>
<% } %>

<form method="post" action="/stop/<%= stop.id %>">
	<textarea name="comment"></textarea>
	<div>
		<input type="submit" />
	</div>
</form>